name: consul-agent

services:
  consul-agent:
    container_name: consul-agent
    image: hashicorp/consul:1.21.3
    command:
      - agent
      - -node={{ inventory_hostname }}
      - -client=0.0.0.0
      - -bind={{ ansible_host }}
      - -retry-join=10.10.20.10
      - -data-dir=/consul/data
      - -config-dir=/consul/config
    network_mode: host
    volumes:
{% for file in project.files %}
      - ./{{ file }}:/consul/config/{{ file | basename }}:ro
{% endfor %}
      - consul-agent-data:/consul/data
    healthcheck:
      test: ["CMD", "consul", "members"]
      interval: 5s
      timeout: 3s
      retries: 12
    restart: unless-stopped

volumes:
  consul-agent-data:
    name: homelab-consul-agent-data
