tunnel: {{ cloudflared_tunnel_id }}
credentials-file: /etc/cloudflared/credentials.json

ingress:
{% for hostname in project.tunnel_hostnames %}
  - hostname: {{ hostname }}
    service: https://127.0.0.1:443
    originRequest:
      originServerName: {{ hostname }}
      caPool: /etc/cloudflared/ca.crt
{% endfor %}
  - service: http_status:404
