# Traefik routes by hostname.
address=/home.arpa/10.10.20.10
address=/algebananazzzzz.com/10.10.20.10

# VM hostname mapping.
address=/hv-01.home.arpa/10.10.10.1
{% for host in groups['vm'] %}
address=/{{ host }}.home.arpa/{{ hostvars[host].vm_definition.address }}
{% endfor %}

server=/consul/10.10.20.10#8600
